# Archivos de Python
__pycache__/
*.pyc
*.pyo
# Entornos virtuales
venv/
.env
# Archivos del sistema operativo
.DS_Store
Thumbs.db
# Base de datos (se genera automáticamente)
database/*.db
# Archivos del editor
.vscode/
.idea/